.navbar-brand {
	font-family: 'Pacifico', cursive;
	font-size: 30px;
}

.navbar-default {
	background-color: white;
}

.navbar-default .navbar-brand {
  font-weight: 100;
  letter-spacing: 8px;
  font-size: 30px;
}

.nav, navbar-nav, navbar-right {
	font-family: 'Poiret One', cursive;
	font-size: 18px;
}